:host label
{
	display: block;
	line-height: 2.2em;
	white-space: nowrap;
	font-size: 1.2em;
	padding: 0 0.5em;
	text-overflow: ellipsis;
  	overflow: hidden;
  	font-weight: bold;
}

#options
{
	padding-left: 2em;
	position: relative;
	background-color: transparent;
}