<polymer-element name="xui-color">

	<template>
		<link rel="import" href="../globals/globals.html" />
		<link rel="import" href="../select/select.html" />
		<link rel="stylesheet" href="./color.css" />

		<xui-select id="color" value="#000000">
			<xui-option value="#000000" selected></xui-option>
			<xui-option value="#013380" selected></xui-option>
			<xui-option value="#42018c" selected></xui-option>
			<xui-option value="#60018c" selected></xui-option>
			<xui-option value="#640064" selected></xui-option>
			<xui-option value="#800133" selected></xui-option>
			<xui-option value="#800000" selected></xui-option>
			<xui-option value="#561f01" selected></xui-option>
			<xui-option value="#412a01" selected></xui-option>
			<xui-option value="#808000" selected></xui-option>
			<xui-option value="#395001" selected></xui-option>
			<xui-option value="#0f6501" selected></xui-option>
			<xui-option value="#01422d" selected></xui-option>
			<xui-option value="#013e45" selected></xui-option>
		</xui-select>
	</template>

	<script src="./color.js"></script>
	
</polymer-element>

