<polymer-element name="xui-slider" constructor="XUISlider" attributes="value min max step">

    <template>
        <link rel="stylesheet" href="css/slider.css" />
        <div id="slider">
            <div id="decrement" on-mousedown=" {{ startDecrement }}" on-mouseout="{{ endDecrement }}" ></div>
            <input type="range" value="{{ value }}" min="{{ min }}" max="{{ max }}" step="{{ step }}" id="inputRange" tabindex="-1" on-input="{{ onRangeInput }}" on-change="{{ onRangeChange }}">
            <div id="increment" on-mousedown=" {{ startIncrement }}" on-mouseout="{{ endIncrement }}"></div>
            <input type="text" id="inputText" on-keydown="{{ onInputKeydown }}" on-blur="{{ onInputBlur }}">
        </div>
    </template>

    <script src="js/slider.js"></script>
</polymer-element>